<div class="analytics-area w-full flex justify-center">
  <div class="w-[50%] py-4 border border-solid border-slate-400 rounded shadow-md bg-white">
    <p class="font-bold text-center mb-4 text-blue-400">Frequently Searched Articles</p>
    <hr>
    <div id="analytics-area">
      <% @searches.each do |search| %>
        <p class="mx-4 my-2"><%= search[0] %></p>
        <hr class="last:hidden">
      <% end %>
    </div>
  </div>
</div>